spring:
  docker:
    compose:
      enabled: false  # Disable auto-start of docker-compose
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    hikari:
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.springframework.security: DEBUG

admin:
  username: admin
  password: admin
  first-name: admin
  last-name: admin
  email: admin@admin.com

fastapi:
  base-url: ${FASTAPI_BASE_URL}
  access-key: ${FASTAPI_ACCESS_KEY}

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: ${JWT_EXPIRATION_MS:3600000}
