spring:
  profiles:
    active: dev
  application:
    name: "TradingSandboxAPI"

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never
